@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

:root {
    --bg-color: rgb(6, 11, 25);
    --b-color: rgb(255, 255, 255, 0.1)
}

* {
    box-sizing: border-box;
}

.transition-fade {
    transition: 0.3s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
    transform: translateX(-50px);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(50px);
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

@media (max-width:768px) {
    body {
        height: 100dvh;
    }
}

h1,
h2,
h3,
a,
p,
span {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: white;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--b-color);
}

nav .nav-section {
    padding: 3rem 2rem;
    display: flex;
    gap: 3rem;
    border-left: 1px solid var(--b-color);
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

nav .nav-section a {
    transition: 0.3s;
}

nav .nav-section a:hover {
    color: rgb(126, 87, 194);
}


#nav-logo-section {
    justify-content: flex-start;
}

#nav-logo-section img {
    width: 50px;
}

#nav-logo-section,
#nav-link-section {
    flex-basis: calc(100% / 3);
}

#nav-link-section {
    gap: 6rem;
    flex-basis: calc(100% / 2);
}

#nav-social-section,
#nav-contact-section {
    flex-grow: 1;
}

#nav-mobile-section {
    display: flex;
    flex-basis: calc(100% * (2 / 3));
    z-index: 2;
}

#nav-toggle-button {
    align-items: center;
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--b-color);
    color: white;
    cursor: pointer;
    font-size: 1rem;
    display: none;
    gap: 0.8rem;
    height: 100%;
    justify-content: center;
    outline: none;
    padding: 0rem 3rem;
    position: relative;
    z-index: 3;
}

#nav-toggle-button>span,
#nav-toggle-button>i {
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
}

main {
    flex-grow: 1;
    position: relative;
}

main>article {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
}

main>article .article-section {
    height: 100%;
    display: flex;
}

main>article[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
}

main>article[data-status="active"] {
    transform: translateX(0%);
}

main>article[data-status="before"] {
    transform: translateX(-100%);
}

main>article[data-status="after"] {
    transform: translateX(100%);
}

main>article[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
}

main>article[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
}

main article .article-description-section,
main article .article-nav-section {
    border-left: 1px solid var(--b-color);
}

main article .article-title-section,
main article .article-name-section,
main article .article-nav-section {
    border-top: 1px solid var(--b-color);
}

main article .article-description-section {
    padding: 4rem;
    align-items: flex-end;
}

main article .article-description-section p {
    font-size: 1.25rem;
}

main article .article-image-section {
    background-position: center;
    background-size: cover;
}

main article:nth-child(1) .article-image-section {
    background-image: url(../imgs/yt.png);
}

main article:nth-child(2) .article-image-section {
    background-image: url(../imgs/chatapp.png);
}

main article:nth-child(3) .article-image-section {
    background-image: url(../imgs/calculator.png);
}

main article:nth-child(4) .article-image-section {
    background-image: url(../imgs/temp3.png);
}

main article .article-image-section.about-sec {
    background-image: url(../imgs/me.jpg);
}

main article .article-name-section,
main article .article-title-section {
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    color: white;
}


main article .article-name-section h2,
main article .article-title-section h2 {
    flex-basis: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    line-height: 3rem;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 900;
}

main article .article-name-section h2 {
    flex-basis: 100%;
}

main article .article-title-section i {
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.75);
    transition: 0.3s;
    cursor: pointer;
}

main article .article-title-section i:hover {
    transform: rotate(180deg) scale(1.2);
}

main article .article-nav-section button {
    background: none;
    border: none;
    flex-basis: 50%;
    color: rgba(255, 255, 255, 0.75);
    font-size: 4rem;
    cursor: pointer;
    transition: 0.3s;
}

main article .article-nav-section button i {
    transition: 0.3s;
}

main>article>.article-nav-section>.article-nav-button:nth-child(2) {
    border-left: 1px solid var(--b-color);
}

main article .article-nav-section button:is(:focus, :hover) {
    background-color: rgba(255, 255, 255, 0.02);
}

main article .article-nav-section button:is(:focus, :hover) i {
    transform: translateX(-5px);
}

main>article>.article-nav-section>button:nth-child(2):is(:focus, :hover) i {
    transform: translateX(5px);
}

@media(max-width: 762px) {
    nav {
        justify-content: space-between;
    }

    nav[data-toggled="true"]>#nav-mobile-section {
        transform: translateX(0%);
    }

    nav[data-toggled="true"]>#nav-toggle-button {
        border-left: none;
    }

    nav[data-transitionable="true"]>#nav-mobile-section {
        transition: 0.3s ease;
    }

    nav .nav-section {
        border-left: none;
        padding: 1.5rem 1rem;
        justify-content: flex-start;
    }

    #nav-mobile-section {
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: repeat(3, 1fr);
        justify-content: start;
        background-color: var(--bg-color);
        height: 100dvh;
        width: 100vw;
        position: fixed;
        transform: translateX(100%);
        padding-left: 2rem;
        padding-top: 4rem;
    }

    #nav-toggle-button {
        display: flex;
    }

    #nav-link-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 4rem;
    }

    #nav-link-section>a {
        font-size: 3rem;
    }

    #nav-social-section>a {
        font-size: 2rem;
    }

    #nav-contact-section {
        font-size: 3rem;
    }

    main {
        width: 100%;
    }

    main article {
        grid-template-columns: 1fr;
        grid-template-rows: 2.5fr 1fr 1.5fr 1.25fr;
    }

    main article .article-title-section {
        padding: 2rem;
    }

    main article .article-title-section h2 {
        flex-basis: 70%;
        font-size: 1.75rem;
        line-height: 2.5rem;
    }

    main article .article-title-section i {
        font-size: 3rem;
    }

    main article .article-description-section {
        padding: 2rem;
    }

    main article .article-description-section p {
        font-size: 1.5rem;
    }

    main article .article-description-section,
    main article .article-nav-section {
        border-left: none;
    }
}